@{
    ViewBag.Title = "Enable/Disable User";
    Layout = "~/Views/Shared/_DashBoard.cshtml";
}
<style type="text/css">
    .Required {
        border-left: 3px solid red;
    }

    .DDLRequired {
        border-left: 3px solid red;
    }
</style>
<script type="text/javascript">
    var _UserId = 0;
    function GetUserDetails() {
        $("#loader").show();
        var _UserType = $('#ddlUserType').val();

        $.ajax({
            url: "/EnableDisable/GetUserDetailstoDisable",
            type: "POST",
            data: JSON.stringify({ 'sUserType': _UserType }),
            dataType: "json",
            traditional: true,
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                $('#TotalUsersCount').html(data.length);
                $('#theadmydata').empty();
                $('#tbodymydata').empty();
                var rowhead = "<tr style='background: rgba(158, 158, 158, 0.13)'><th>User Code</th><th>User Name</th><th>User Type</th><th>SAP Id</th><th>Status</th><th>Is Active</th><th>Enable</th><th>Disable</th>";
                var rowbody = '';
                if (data.length > 0) { 
                    for (var i = 0; i < data.length; i++) {
                        rowbody += "<tr><td style='width:15%'>" +
                           data[i].USER_CODE + "</td><td style='width:25%'>" +
                           data[i].F_NAME + ' ' + data[i].M_NAME + ' ' + data[i].L_NAME + "</td><td style='width:15%'>" +
                           data[i].USER_TYPE + "</td><td style='width:15%'>" +
                           data[i].SAP_ID + "</td><td style='width:15%'>" +
                           data[i].USER_STATUS_NAME + "</td><td style='width:15%'>" +
                           data[i].IsActive + "</td><td style='width:10%'><a class='btn btn-outline btn-primary btn-xs' title='Enable' onclick='return GetUsertoEnable(" + data[i].USERID + ");' ><i class='fa fa-edit'></i></a></td><td style='width:10%'><a class='btn btn-outline btn-primary btn-xs' title='Disable' onclick='return GetUsertoDisable(" + data[i].USERID + ");' ><i class='fa fa-edit'></i></a></td></tr>";
                    }
                    $("#loader").hide();
                }
                else {
                    rowbody = "<td colspan=10> No Record Found </td>"
                    $("#loader").hide();
                }
                $('#theadmydata').html(rowhead);
                $('#tbodymydata').html(rowbody);

            },
            error: function () {
                alert("An error has occured!!!");
                $("#loader").hide();
            }
        });
    }
    function GetUsertoDisable(_UserId) {
        debugger;
        $.ajax({
            url: "/EnableDisable/GetUsertoDisable",
            type: "POST",
            data: JSON.stringify({ 'sUserID': _UserId }),
            dataType: "json",
            traditional: true,
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (data.success) {
                    alert("User has been disabled");
                }
                else
                {
                    alert("User has been disabled");
                }
            },
            error: function () {
                alert("An error has occured!!!");
            }
        });
    }
    function GetUsertoEnable(_UserId) {
        debugger;
        $.ajax({
            url: "/EnableDisable/GetUsertoEnable",
            type: "POST",
            data: JSON.stringify({ 'sUserID': _UserId }),
            dataType: "json",
            traditional: true,
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (data.success > 0) {
                    alert("User has been enabled");
                }
                else {
                    alert("User has been enabled");
                }
            },
            error: function () {
                alert("An error has occured!!!");
            }
        });
    }
</script>
<div style="display: none; position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: 1000; background: rgba(0,0,0,0.5)" id="loader">
    <img alt="" src="~/fonts/ajax-loader-6.gif" style="top: 50%; left: 50%; position: absolute; text-align: center;" />
</div>
<div id="page-wrapper">
    <div class="graphs">
        <div class="md">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <h4 style="font-family: bookman old style; font-weight: bold;">Enable/Disable User</h4>
                        </div>
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-2">
                        </div>
                        <div class="row MarginTop1">
                            <div class="col-md-6">
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-8">
                                </div>
                            </div>
                            <div class="col-md-6"></div>
                            <div class="clearfix"></div>
                        </div>
                        <!---->
                        <div class="row MarginTop1">
                            <div class="col-md-2" style="margin-left: 0%">

                                <label class="control-label">User&nbsp; Type</label>
                            </div>
                            <div class="col-md-10">
                                <select id="ddlUserType" class="form-control DDLRequired">
                                    <option value="0">-- Select --</option>
                                    <option value="1">ADMIN</option>
                                    <option value="2">SALES</option>
                                    <option value="3">CUSTOMER</option>
                                    <option value="4">MANAGER</option>
                                    <option></option>
                                </select>
                            </div>
                            <div class="col-md-4">
                            </div>
                        </div>
                        <div class="row MarginTop1" style="margin-top: 10px">
                            <div class="col-md-9">
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-5">
                                    <button type="button" id="btnSubmit" class="btn btn-xs btn-primary" onclick="return GetUserDetails();" style="width: 100px; font-family: Arial;">View</button>
                                </div>
                                <div class="col-md-4">
                                </div>
                            </div>
                            <div class="col-md-3">
                            </div>
                        </div>
                        <br />
                        <div class="table-responsive" id="divMyUser" style="margin-left: 17px;">
                            <p>Total No. of Users:&nbsp; <b id="TotalUsersCount"></b> </p>
                            <table class="table table-bordered ReportTable" id="tblUserDetail">
                                <thead id="theadmydata"></thead>
                                <tbody id="tbodymydata"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

